<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>


  <body>
    <form method="POST" action="/allstudents">
      <input type="submit" value="All Students">
    </form>
    <form  action="/passing" method="post">
      <input type="submit" name="" value="Passing Students">
    </form>
    <h1>Add Students</h1>
    <form method="POST" action="/">
      Name <input type="text" name="name">
      <br> Grade <input type="text" name="grade">
      <input type="submit" value="Add">
    </form>
    <h1>Delete Students</h1>
    <form action="./delete" method="POST">
      ID <input type="text" name="ID" value="">
      <input type="submit" name="Delete" value="Delete">

    </form>
  </body>
</html>
